process {
    container = 'adolforojas/latincells:Seurat5'
    containerOptions = "--user root"
    withName: Cellranger {
        container = 'nfcore/cellranger:7.1.0'
        memory = 100.GB // si al colocar maxForks=2 la suma pasa la memoria total solo se ejecutara una instancia
    }
    withLabel: Demultiplex {
    container = 'adolforojas/latincells:Demultiplex'
    containerOptions = "--user root"
    memory = 90.GB
    }
}

docker {
    enabled = true
    docker.fixOwnership = true
}