process {
    container = 'latincells:Seurat5'
    containerOptions = "--user root"
    withName: Cellranger {
        container = 'nfcore/cellranger:7.1.0'
        memory = 90.GB
    }
    withLabel: Demultiplex {
    container = 'adolforojas/latincells:Demultiplex'
    containerOptions = "--user root"
    memory = 90.GB
    }
}

docker {
    enabled = true
    docker.fixOwnership = true
}