process {
    container = 'adolforojas/latincells:SeuratHackaton'
    withName: Cellranger {
        cpus = 12
        memory = '70 GB'
        container = 'adolforojas/latincells:Cellranger'
    }
    withName: CellTypist {
        container = 'adolforojas/latincells:Celltypist'
    }
    withLabel: Demultiplex {
    container = 'adolforojas/latincells:Demultiplex'
    memory = '50 GB'
    }
}

docker {
    fixOwnership = true
}

singularity {
    ociMode = true
}

timeline {
    enabled = true
    file = 'Timeline.html'
    overwrite = true
}

report {
    enabled = true
    file = 'Report.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'DAG.html'
    overwrite = true
    verbose = true
}
apptainer {
    runOptions = '--compat --fakeroot'
    cacheDir = 'Apptainer_Images'
}
profiles {
    NLHPC {
        apptainer {
            enabled = true
        }
        process {
            executor = "slurm"
            memory = "320 GB"
            withName: Cellranger {
                cpus = 28
                memory = '170 GB'
                maxForks = 3
                container = 'adolforojas/latincells:Cellranger'
            }
            withName: SoupX_scDblFinder {
                cpus = 20
                memory = '80 GB'
                maxForks = 3
            }
            withlabel: Demultiplex {
                cpus = 20
                maxForks = 3
                memory = '60 GB'
                container = 'adolforojas/latincells:Demultiplex'
            }
        }
    }
}